:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-dark);
}

html,
body {
  height: 100%;
  font-family: system-ui;
}

header {
  height: 10vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--primary-dark);
  box-shadow: #1d2222 1px 1px 3px;
  z-index: 1;
}
header .text {
  color: var(--primary-light);
  font-size: 4rem;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
button.active, button:hover {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
}
button.active > *,
button.active *::before,
button.active *::after, button:hover > *,
button:hover *::before,
button:hover *::after {
  color: var(--primary-light);
}
button i {
  margin-right: 8px;
}

input {
  border: none;
  padding: 5px 16px;
}

.global_wrapper {
  display: flex;
  height: 85vh;
  overflow-y: auto;
}
.global_wrapper .menu {
  flex-grow: 1;
  background-color: var(--secondary-light);
  padding: 25px 22px;
  min-width: 330px;
  flex-shrink: 0;
  overflow-y: auto;
  font-weight: bold;
}
.global_wrapper .menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.global_wrapper .menu li {
  list-style: none;
  width: 100%;
}
.global_wrapper .menu button {
  width: 100%;
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px;
  border: none;
}
.global_wrapper .menu .projects h2 {
  margin: 16px 0px;
  font-size: 2rem;
}
.global_wrapper #projects--list .project__button {
  display: flex;
  justify-content: space-between;
  color: var(--primary-light);
}
.global_wrapper #projects--list .project__button .right-panel {
  display: none;
}
.global_wrapper #projects--list .project__button:hover .right-panel {
  display: block;
}
.global_wrapper .temporary__content {
  flex-grow: 7;
}
.global_wrapper .temporary__content--content {
  height: 100%;
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}
.global_wrapper .temporary__content--content #content__title {
  padding-top: 25px;
}

input#addProjectField {
  height: 40px;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
}

.tasks--wrapper .task {
  margin-top: 10px;
  padding: 8px;
}
.tasks--wrapper .task .descriptionIndicator {
  margin-top: -4px;
}
.tasks--wrapper .task:hover {
  background-color: var(--secondary-light);
}
.tasks--wrapper .task--1 {
  display: flex;
}
.tasks--wrapper .task--1 .due-date {
  margin: auto;
}
.tasks--wrapper .task--1 .task-title {
  margin-left: 10px;
}
.tasks--wrapper .task .deleteIcon {
  width: 10px;
}
.tasks--wrapper .task form.task-form {
  display: flex;
  width: 100%;
  align-items: center;
}
.tasks--wrapper .task form.task-form .left-panel {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}
.tasks--wrapper .task form.task-form .right-panel {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 10px;
}
.tasks--wrapper .task form.task-form .right-panel select#priority {
  border: none;
  background: var(--primary-light);
  padding: 5px 16px;
}
.tasks--wrapper .task form.task-form .right-panel input#date {
  border: none;
  background: var(--primary-light);
  padding: 5px 16px;
}

form#addTaskForm {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
}
form#addTaskForm .row-container {
  display: flex;
  justify-content: space-between;
}
form#addTaskForm .row-container:nth-child(1) {
  background: var(--secondary-light);
  padding: 12px;
}
form#addTaskForm .row-container .left-panel input#task-title {
  border: none;
  padding: 5px 16px;
}
form#addTaskForm .row-container .right-panel > * {
  border: none;
  background: var(--primary-light);
  padding: 5px 16px;
}
form#addTaskForm .row-container.submit {
  margin-left: auto;
  margin-top: 8px;
}
form#addTaskForm .row-container.submit button#addTask {
  padding: 5px 16px;
}

footer {
  background: var(--secondary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  white-space: break-spaces;
}
footer a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */